<h2>You're Logged out! Log in to the Admin Dashboard</h2>
<%= link_to "Sign in with Google 2", "/admins/auth/google_oauth2", method: :get %>
<%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %>
